<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <!--
    <div class="ten mobile-three columns">
     <%= collection_select(:course, :department_id, Department.all, :id, :dept_name, {}, :class => "eight textlbb") %>
    </div>

<br />
<%= text_field_tag :classnum %>


-->

<br />
<div>
  <%= f.text_area  :notes,  :cols => "30", :rows => "4" %>
    <%= f.label :notes, "Discription" %>
  </div>
</li>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

