<%= form_for [@teacher, @course, @rating] do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<h2>Course Organization</h2>

<table class="twelve">
  <tbody>
    <tr>
      <td class ="textlbb">Did the instructor explan the course requirements effectively?</td>
    </tr>
    <fieldset>
    <tr>
  <td><ul class="inline-list">
  <li><label for='rating_org1_1' class ="textlbb"><%= f.radio_button  'org1', '1', :checked => true, :class => "textlbb"%>Ineffective</label></li>
  <li><label for="rating_org1_2" class ="textlbb"><%= f.radio_button  'org1', '2', :class => "textlbb"%> Somewhat Ineffective</label></li>
  <li><label for="rating_org1_3" class ="textlbb"><%= f.radio_button  'org1', '3', :class => "textlbb"%> Effective</label></li>
  <li><label for="rating_org1_4" class ="textlbb" ><%= f.radio_button  'org1', '4', :class => "textlbb"%> Moderately Effective</label></li>
  <li><label for="rating_org1_5" class ="textlbb"><%= f.radio_button  'org1', '5', :class => "textlbb"%>Very Effective</label></li>
  </ul></td>
  </tr>
  </fieldset>
  </tbody>
</table>

<table class="twelve">
  <tbody>
    <tr>
      <td class ="textlbb">Was the instructor's way of summarizing or emphasizing important points in class effective?</td>
    </tr>
    <fieldset>
    <tr>
  <td><ul class="inline-list">
  <li><label for='rating_org2_1' class ="textlbb"><%= f.radio_button  'org2', '1', :checked => true, :class => "textlbb"%>Ineffective</label></li>


  <li><label for="rating_org2_2" class ="textlbb"><%= f.radio_button  'org2', '2', :class => "textlbb"%> Somewhat Ineffective</label></li>
  <li><label for="rating_org2_3" class ="textlbb"><%= f.radio_button  'org2', '3', :class => "textlbb"%> Effective</label></li>
  <li><label for="rating_org2_4" class ="textlbb" ><%= f.radio_button  'org2', '4', :class => "textlbb"%> Moderately Effective</label></li>
  <li><label for="rating_org2_5" class ="textlbb"><%= f.radio_button  'org2', '5', :class => "textlbb"%>Very Effective</label></li>
  </ul></td>
  </tr>
  </fieldset>
  </tbody>
</table>

<table class="twelve">
  <tbody>
    <tr>
      <td class ="textlbb">Did the instructor effectively use class time?</td>
    </tr>
    <fieldset>
    <tr>
  <td><ul class="inline-list">
  <li><label for='rating_org3_1' class ="textlbb"><%= f.radio_button  'org3', '1', :checked => true, :class => "textlbb"%>Ineffective</label></li>


  <li><label for="rating_org3_2" class ="textlbb"><%= f.radio_button  'org3', '2', :class => "textlbb"%> Somewhat Ineffective</label></li>
  <li><label for="rating_org3_3" class ="textlbb"><%= f.radio_button  'org3', '3', :class => "textlbb"%> Effective</label></li>
  <li><label for="rating_org3_4" class ="textlbb" ><%= f.radio_button  'org3', '4', :class => "textlbb"%> Moderately Effective</label></li>
  <li><label for="rating_org3_5" class ="textlbb"><%= f.radio_button  'org3', '5', :class => "textlbb"%>Very Effective</label></li>
  </ul></td>
  </tr>
  </fieldset>
  </tbody>
</table>
<h2>Communication</h2>

<table class="twelve">
  <tbody>
    <tr>
      <td class ="textlbb">The instructor's command of spoken English (or the language used in the course)?</td>
    </tr>
    <fieldset>
    <tr>
  <td><ul class="inline-list">
  <li><label for='rating_com1_1' class ="textlbb"><%= f.radio_button  'com1', '1', :checked => true, :class => "textlbb"%>Ineffective</label></li>


  <li><label for="rating_com1_2" class ="textlbb"><%= f.radio_button  'com1', '2', :class => "textlbb"%> Somewhat Ineffective</label></li>
  <li><label for="rating_com1_3" class ="textlbb"><%= f.radio_button  'com1', '3', :class => "textlbb"%> Effective</label></li>
  <li><label for="rating_com1_4" class ="textlbb" ><%= f.radio_button  'com1', '4', :class => "textlbb"%> Moderately Effective</label></li>
  <li><label for="rating_com1_5" class ="textlbb"><%= f.radio_button  'com1', '5', :class => "textlbb"%>Very Effective</label></li>
  </ul></td>
  </tr>
  </fieldset>
  </tbody>
</table>

<table class="twelve">
  <tbody>
    <tr>
      <td class ="textlbb">Where the instructor's ability to make clear and understandable presentations effective?</td>
    </tr>
    <fieldset>
    <tr>
  <td><ul class="inline-list">
  <li><label for='rating_com2_1' class ="textlbb"><%= f.radio_button  'com2', '1', :checked => true, :class => "textlbb"%>Ineffective</label></li>


  <li><label for="rating_com2_2" class ="textlbb"><%= f.radio_button  'com2', '2', :class => "textlbb"%> Somewhat Ineffective</label></li>
  <li><label for="rating_com2_3" class ="textlbb"><%= f.radio_button  'com2', '3', :class => "textlbb"%> Effective</label></li>
  <li><label for="rating_com2_4" class ="textlbb" ><%= f.radio_button  'com2', '4', :class => "textlbb"%> Moderately Effective</label></li>
  <li><label for="rating_com2_5" class ="textlbb"><%= f.radio_button  'com2', '5', :class => "textlbb"%>Very Effective</label></li>
  </ul></td>
  </tr>
  </fieldset>
  </tbody>
</table>

<table class="twelve">
  <tbody>
    <tr>
      <td class ="textlbb">. Did the instructor's use  examples or illustrations to clarify course material effectivly?</td>
    </tr>
    <fieldset>
    <tr>
  <td><ul class="inline-list">
  <li><label for='rating_com3_1' class ="textlbb"><%= f.radio_button  'com3', '1', :checked => true, :class => "textlbb"%>Ineffective</label></li>


  <li><label for="rating_com3_2" class ="textlbb"><%= f.radio_button  'com3', '2', :class => "textlbb"%> Somewhat Ineffective</label></li>
  <li><label for="rating_com3_3" class ="textlbb"><%= f.radio_button  'com3', '3', :class => "textlbb"%> Effective</label></li>
  <li><label for="rating_com3_4" class ="textlbb" ><%= f.radio_button  'com3', '4', :class => "textlbb"%> Moderately Effective</label></li>
  <li><label for="rating_com3_5" class ="textlbb"><%= f.radio_button  'com3', '5', :class => "textlbb"%>Very Effective</label></li>
  </ul></td>
  </tr>
  </fieldset>
  </tbody>
</table>

<h2>Course Difficulty</h2>

<table class="twelve">
  <tbody>
    <tr>
      <td class ="textlbb"> The level of difficulty of this course was…</td>
    </tr>
    <fieldset>
    <tr>
  <td><ul class="inline-list">
  <li><label for='rating_dif1_1' class ="textlbb"><%= f.radio_button  'diff1', '1', :class => "textlbb"%>Very elementary</label></li>


  <li><label for="rating_diff1_2" class ="textlbb"><%= f.radio_button  'diff1', '2', :class => "textlbb"%> Somewhat elementary</label></li>
  <li><label for="rating_diff1_3" class ="textlbb"><%= f.radio_button  'diff1', '3', :class => "textlbb"%> About right</label></li>
  <li><label for="rating_diff1_4" class ="textlbb" ><%= f.radio_button  'diff1', '4', :class => "textlbb"%> Somewhat difficult</label></li>
  <li><label for="rating_diff1_5" class ="textlbb"><%= f.radio_button  'diff1', '5', :checked => true, :class => "textlbb"%>Very difficult</label></li>
  </ul></td>
  </tr>
  </fieldset>
  </tbody>
</table>

<table class="twelve">
  <tbody>
    <tr>
      <td class ="textlbb">The workload for this course in relation to other courses was..</td>
    </tr>
    <fieldset>
    <tr>
  <td><ul class="inline-list">
  <li><label for='rating_diff2_1' class ="textlbb"><%= f.radio_button  'diff2', '1', :class => "textlbb"%>Light</label></li>


  <li><label for="rating_diff2_2" class ="textlbb"><%= f.radio_button  'diff2', '2', :class => "textlbb"%> Lighter</label></li>
  <li><label for="rating_diff2_3" class ="textlbb"><%= f.radio_button  'diff2', '3', :class => "textlbb"%> About right</label></li>
  <li><label for="rating_diff2_4" class ="textlbb" ><%= f.radio_button  'diff2', '4', :class => "textlbb"%> Heavy</label></li>
  <li><label for="rating_diff2_5" class ="textlbb"><%= f.radio_button  'diff2', '5', :checked => true, :class => "textlbb"%>Very heavy</label></li>
  </ul></td>
  </tr>
  </fieldset>
  </tbody>
</table>

<table class="twelve">
  <tbody>
    <tr>
      <td class ="textlbb">. For me, the pace at which the instructor covered the material during the term was…</td>
    </tr>
    <fieldset>
    <tr>
  <td><ul class="inline-list">
  <li><label for='rating_diff3_1' class ="textlbb"><%= f.radio_button  'diff3', '1', :class => "textlbb"%>Very slow</label></li>



  <li><label for="rating_diff3_2" class ="textlbb"><%= f.radio_button  'diff3', '2', :class => "textlbb"%> Somewhat slow</label></li>
  <li><label for="rating_diff3_3" class ="textlbb"><%= f.radio_button  'diff3', '3', :class => "textlbb"%> Just about right</label></li>
  <li><label for="rating_diff3_4" class ="textlbb" ><%= f.radio_button  'diff3', '4', :class => "textlbb"%> Somewhat fast</label></li>
  <li><label for="rating_diff3_5" class ="textlbb"><%= f.radio_button  'diff3', '5', :checked => true, :class => "textlbb"%>Very fast</label></li>
  </ul></td>
  </tr>
  </fieldset>
  </tbody>
</table>



  
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment ,:cols => "10", :rows => "30", :placeholder => "Please give an honest assessment of the class taught by this specific teacher. Though you may feel the need to flame the teacher for a bad grade, constructive critisism is always more helpful"%>
  </div>
  <div class="actions">
    <%= f.submit :class => "radius button"%>
  </div>
<% end %>
