<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">First Name:</label>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :first_name, :class => "eight", :placeholder => "John" %>
    </div>
  </div>

    <div class="row">
    <div class="two mobile-one columns">
      <label class="right inline">Last Name:</label>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :last_name, :class => "eight", :placeholder => "Doe" %>
    </div>
    <div class="ten mobile-three columns">
     <%= collection_select(:employment, :school_id, School.all, :id, :name, {}, :class => "eight textlbb") %>
    </div>

  </div>



  <div class="actions">
    <%= f.submit "Add Teacher", :class => "button radius"%>
  </div>
<% end %>

