
<div class="row panel bigpanel">

  <h1>&nbsp;<%= @teacher.first_name %> <%= @teacher.last_name %></h1>




  <b>School:</b>
  <% @teacher.schools.each do |t| %>
  	<%=link_to t.name%>
  	<%end%>
<%= link_to 'Rate/Comment', teacher_courses_path(@teacher), :class => "radius button" %>
</div>

<% @teacher.ratings.each do |r| %>
<div class="panel">
	<%=r.comment%>
	</div>
<%end%>




<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
