
<nav class="top-bar">

    <ul>
      <li class="name"><h1><a href="#"></a></h1></li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>

    <section>
        <!-- Left Nav Section -->


        <!-- Right Nav Section -->
      <% if @current_user!=nil %>

        <!-- User Logged in -->
        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
            <li class="has-dropdown">
            <a href="#">Account</a>
            <ul class="dropdown">
              <li><label>Settings</label></li>
              <li><%=link_to "Edit Profile", edit_user_path(@current_user)%></li>
              <li><%=link_to "Logout", logout_path, :method => :delete%></li>
              <li class="divider"></li>
              <li><label>Ratings</label></li>
              <li><%=link_to "View my rating" %></li>
              <li><%=link_to "View teachers I have rated" %></li>
            </ul>
          </li>
        </ul>

        <ul class="right">
          <li class="name textcw">Welcome <%= @user.username %>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ul>

      <% else %>

        <!-- No User logged in -->
        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          <li><%=link_to "Create Account", signup_path %></li>
        </ul>

        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          <li><%=link_to "Log In", login_path%></li>
        </ul>

                <ul class="right">
          <li class="name textcw">Welcome Guest&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ul>
      <%end%>
    </section>
    </nav>
